<div class="icon_container">
  <%= image_tag('speedup_rails/icons.png', alt: '', style: 'clip: rect(0, 20px, 20px, 0px); left: 0;') %>
</div>
<span class="speedup_rails_<%= key %>" data-key="<%= key %>">
  <%= data.count %> problems
</span>
<% if data.any? %>
<div class="additional_info">
  <div class="<%= key %>">
  <% data.each do |problem| %>
    <div><%= problem[:caller].gsub(/\n/, '<br />').html_safe %></div>
  <% end %>
  </div>
</div>
<% end %>
