<%= image_tag('speedup_rails/file-icon.png', alt: '') %><%= data.count %> partials (<%= render_ms(data.sum{|t| t[:duration] }) %>)
<% content_for(:speed_up_additional_bars) do %>
  <div class="partials">
    <% data.each do |template| %>
      <div>
        <span class="duration"><%= render_ms(template[:duration]) %></span>
        <span class="template"><%= template[:identifier] %></span>
      </div>
    <% end %>
  </div>
<% end %>
