<span class="speedup_rails_<%= key %>" data-key="<%= key %>">
  <%= image_tag('speedup_rails/file-icon.png', alt: '') %><%= data.count %> partials (<%= render_ms(data.sum{|t| t[:duration] }) %>)
</span>
<div class="additional_info">
  <div class="partials">
    <% data.each do |template| %>
      <div>
        <span class="duration <%= template[:duration] > 100 ? 'duration-warning' : 'duration-info' %>"><%= render_ms(template[:duration]) %></span>
        <span class="template"><%= template[:identifier] %></span>
      </div>
    <% end %>
  </div>
</div>
